@import "/styles/breakpoints.scss";
@import "/styles/variables.scss";

.btn-primary {
  background-color: $cyan;
  border: none;
  border-radius: 0;
  padding: 20px 40px 20px 40px;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    background-color: $green;
  }
  @include bp-tablet-sm {
    font-size: 16px;
    padding: 16px;
    width: 100%;
  }
}
