@import "../../../src/styles/breakpoints.scss";
@import "../../../src/styles/variables.scss";

.nav {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding-top: 10px;
  padding-bottom: 10px;
  a {
    color: $blue;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
      color: $green;
    }
  }
}
